* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

.maindiv {
    width: 100%;
}

.h5-check {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-top: 82px;
}

.p1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-top: 27px;
}

.inbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 759px;
    height: 389px;
    background-color: #FFFFFF;
    margin-top: 66px;
    border-radius: 10px;
    padding-left: 80px;
    padding-top: 30px;
}

.p2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 0;
}

input {
    width: 612px;
    height: 63px;
    background-color: #D9D9D9;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: larger;
    padding-left: 15px;
    margin-top: 16px;
}

button {
    width: 612px;
    height: 63px;
    background-color: #2E5B9D;
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 27px;
    cursor: pointer;
}

button:hover {
    background-color: #557bb5;
    transition: 0.8s;
}

button:active {
    transform: scale(0.9);
}

.p3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-left: 390px;
    margin-top: 88px;
}

.notifi {
    margin-left: 390px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
}